<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Erin Fough's Page</title>
    <link rel="stylesheet" type="text/css" href="bio.css">
</head>
<body>
  <section>
    <a href="mypage.html">HOME</a>
  </section>
  <section>
    <h2>Erin L. Fough</h2>
  </section>
  <section>
    <p>
      I was born and raised in the Willamette Valley of Oregon to Ralph and
      Patricia Fough.  Graduated with a B.A. in Theatre from Lewis & Clark
      College in Portland, OR.
    </p>
  </section>
</body>
