{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Erin Fough's Page</title>
    <link rel="stylesheet" type="text/css" href={% static 'mypage/bio.css' %}>
</head>
<body>
  <section>
    <a href="mypage.html">HOME</a>
    <img alt="" src={% static 'mypage/sheep.jpg' %}>
  </section>
  <section>
    <h1>Erin L. Fough</h1>
  </section>
  <section>
    <p>
      I am a native Oregonian who has also lived in Chicago, New York, and
      Denver.
      I finished bootcamp at PDX Code Guild in June 2016.  I have experience
      working in Python, Javascript, HTML5, CSS, jQuery, and Django.
    </p>
  </section>
</body>
