{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Erin Fough's Page</title>
    <link rel="stylesheet" type="text/css" href={% static 'mypage/index.css' %}>
</head>
<body>
  <div>
    <img id="headshot" alt="" src={% static 'mypage/argoNmePNG.png'%}>
    <div>
      <h1>Erin L. Fough</h1>
      <h2>Perceptive Lover of Ordered Disorder</h2>
      <img id="initials" alt="" src={% static 'mypage/initialsv3.png' %}>
    </div>
  </div>
  <nav>
    <a href="">Bio</a>
    <a href="">Github</a>
    <a href="">LinkedIn</a>
  </nav>

</body>
