{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Erin Fough's Page</title>
    <link rel="stylesheet" type="text/css" href={% static 'mypage/mypage.css' %}>
</head>
<body>
  <header>
    <h1>Erin L. Fough</h1>
    <h2>Perceptive Lover of Ordered Disorder</h2>
  </header>
  <section>
    <img alt="" src={% static 'mypage/initialsv3.png' %}>
  </section>
  <nav>
    <a href="">Bio</a>
    <a href="">Github</a>
    <a href="">LinkedIn</a>
  </nav>

</body>
